Django>=1.8.7
psycopg2>=2.6.1
djangorestframework>=3.3.1
django-storages>=1.4
markdown>=2.6.5
django-filter>=0.11.0
django-htmlmin>=0.9.0
django-debug-toolbar>=1.4
django-redis-sessions
django-celery
nose
